:root {
  --primary-color: mediumslateblue;
}

.container {
  display: flex;
  width: 100%;
}

.banner {
  flex: 0 0 auto;
  width: 20%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  animation: scroll 5s linear infinite;
}

.banner {
  gap: 12px;
}

.icon-card {
  position: relative;
  border-radius: 1.5rem;
  background-color: rgb(1, 1, 1);
  position: relative;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(212, 20, 119);
      opacity: 0.15;
      z-index: -1;
      filter: blur(100px);
    }
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    );
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: $spacing;
    border-radius: 1.25rem;
    overflow: hidden;
  }

  &::after {
    content: "";
    height: 70px;
    width: 1px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, var(--primary-color), transparent);
    opacity: 0;
  }

  &:hover::after {
    top: 25%;
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .icon-card {
    border-radius: 1rem;
  }
}

@media (max-width: 600px) {
  .icon-card__inner {
    padding: 3rem;
  }
}
