:root {
  --primary-color: mediumslateblue;
}

.container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.banner {
  flex: 0 0 auto;
  width: 20%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
h1,
h2,
h3,
p {
  margin: 0rem;
}
.card-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.card-scroll-container {
  display: flex;
  overflow-x: scroll;
  width: 100%; /* Adjust the width as per your requirements */
}

.card {
  flex: 0 0 auto;
  /* Add your card styles here */
}

.card-scroll-wrapper {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  -webkit-animation: 10s scroll infinite linear;
  -moz-animation: 10s scroll infinite linear;
  -ms-animation: 10s scroll infinite linear;
  -o-animation: 10s scroll infinite linear;
  animation: 10s scroll infinite linear;
}
.banner {
  gap: 12px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card {
  position: relative;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 320px;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    // background-image: radial-gradient(
    //   rgba(255, 255, 255, 0.1) 1px,
    //   transparent 1px
    // );
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 4rem;
    border-radius: 1.25rem;
    overflow: hidden;
  }

  &::after {
    content: "";
    height: 70px;
    width: 1px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, var(--primary-color), transparent);
    opacity: 0;
  }

  &:hover::after {
    top: 25%;
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .card {
    width: calc(100% - 2rem);
    margin: 0rem 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
  }
}

@media (max-width: 600px) {
  .card__inner {
    padding: 3rem;
  }
}
