.slick-slider {
  position: relative;
  margin-top: 140px;

  svg {
    opacity: 0.8;
  }

  &::before {
    content: "";
    width: 300px;
    height: 200px;
    background: linear-gradient(
      90deg,
      rgba(16, 16, 16) 50%,
      rgba(16, 16, 16, 0) 100%
    );
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 10;
  }
  &::after {
    content: "";
    width: 300px;
    height: 200px;
    background: linear-gradient(
      90deg,
      rgba(16, 16, 16) 50%,
      rgba(16, 16, 16, 0) 100%
    );
    position: absolute;
    right: 0;
    transform: rotate(180deg);
    top: -50px;
    z-index: 10;
  }
}
