$dark-accent: #212124;
$accent: $pink;

.html-to-jsx {
  .bg-popover {
    background-color: $black !important;
  }
  .page-wrapper {
    .bg-muted {
      background-color: $black !important;
    }

    button.bg-secondary {
      background-color: transparent !important;
    }

    button {
      border-color: $dark-accent !important;
    }
  }

  button#client,
  button#typescript,
  button#fc {
    background-color: #fafafa !important;
  }
}

.view-lines .monaco-mouse-cursor-text {
  background-color: $black !important;
}

.monaco-editor .margin {
  background-color: $black !important;
}

.monaco-editor-background {
  background-color: $black !important;
  margin: 12px !important;
}
.monaco-scrollable-element.editor-scrollable.vs-dark {
  border: 1px solid #27272a;
  border-radius: calc(var(--radius) - 2px);
  background-color: $black !important;
}

.current-line {
  border: none !important;
}
