:root {
  --bs-indigo: #6610f2;
  --bs-purple: #bd47fb;
  --bs-pink: #d63384;
  --bs-orange: #fd7e14;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #246cf9;
  --bs-secondary: #141518;
  --bs-success: #11cabe;
  --bs-info: #1e68f6;
  --bs-warning: #f27f16;
  --bs-danger: #fa2256;
  --bs-light: #fff;
  --bs-dark: #141518;
  --bs-royal-blue: #246cf9;
  --bs-baby-blue-light: #edfdff;
  --bs-ultramarine-blue: #706df8;
  --bs-ultramine-blue-pale: #e9e9ff;
  --bs-ultramarine-blue-light: #f4f3ff;
  --bs-white: #fff;
  --bs-grey-20: #e5e6ed;
  --bs-grey-40: #a5adcf;
  --bs-grey-60: #5d6588;
  --bs-grey-80: #34384c;
  --bs-grey-100: #1e1f25;
  --bs-darker-grey: #141518;
  --bs-dark-transparent: rgba(47, 50, 65, 0.5);
  --bs-black: #000;
  --bs-blue: #1e68f6;
  --bs-blue-pale: #bee4ff;
  --bs-yellow: #f27f16;
  --bs-yellow-pale: #ffe4b1;
  --bs-green: #11cabe;
  --bs-green-pale: #ccf0e6;
  --bs-red: #fa2256;
  --bs-red-pale: #ffd1cb;
  --bs-primary-rgb: 36, 108, 249;
  --bs-secondary-rgb: 20, 21, 24;
  --bs-success-rgb: 17, 202, 190;
  --bs-info-rgb: 30, 104, 246;
  --bs-warning-rgb: 242, 127, 22;
  --bs-danger-rgb: 250, 34, 86;
  --bs-light-rgb: 255, 255, 255;
  --bs-dark-rgb: 20, 21, 24;
  --bs-royal-blue-rgb: 36, 108, 249;
  --bs-baby-blue-light-rgb: 237, 253, 255;
  --bs-ultramarine-blue-rgb: 112, 109, 248;
  --bs-ultramine-blue-pale-rgb: 233, 233, 255;
  --bs-ultramarine-blue-light-rgb: 244, 243, 255;
  --bs-grey-20-rgb: 229, 230, 237;
  --bs-grey-40-rgb: 165, 173, 207;
  --bs-grey-60-rgb: 93, 101, 136;
  --bs-grey-80-rgb: 52, 56, 76;
  --bs-grey-100-rgb: 30, 31, 37;
  --bs-darker-grey-rgb: 20, 21, 24;
  --bs-dark-transparent-rgb: 47, 50, 65;
  --bs-blue-rgb: 30, 104, 246;
  --bs-blue-pale-rgb: 190, 228, 255;
  --bs-yellow-rgb: 242, 127, 22;
  --bs-yellow-pale-rgb: 255, 228, 177;
  --bs-green-rgb: 17, 202, 190;
  --bs-green-pale-rgb: 204, 240, 230;
  --bs-red-rgb: 250, 34, 86;
  --bs-red-pale-rgb: 255, 209, 203;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg-rgb: 20, 21, 24;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.15),
    hsla(0, 0%, 100%, 0)
  );
  --bs-body-font-family: Sofia Pro, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.88;
  --bs-body-color: #fff;
  --bs-body-bg: #141518;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #e5e6ed;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 10px;
  --bs-border-radius-sm: 5px;
  --bs-border-radius-lg: 15px;
  --bs-border-radius-xl: 20px;
  --bs-border-radius-2xl: 25px;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #246cf9;
  --bs-link-hover-color: #1d56c7;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fce5d0;
}

.sidebar-items {
  svg {
    max-width: 25px;
    margin-right: 16px;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.profile {
  hr {
    border: 0;
    border-top: 1px solid;
    color: inherit;
    margin: 1rem 0;
    opacity: 0.25;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
  }

  h1 {
    font-size: calc(1.50625rem + 3.075vw);
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 3.8125rem;
    }
  }

  h2 {
    font-size: calc(1.43125rem + 2.175vw);
  }

  @media (min-width: 1200px) {
    h2 {
      font-size: 3.0625rem;
    }
  }

  h3 {
    font-size: calc(1.36875rem + 1.425vw);
  }

  @media (min-width: 1200px) {
    h3 {
      font-size: 2.4375rem;
    }
  }

  h4 {
    font-size: calc(1.31875rem + 0.825vw);
  }

  @media (min-width: 1200px) {
    h4 {
      font-size: 1.9375rem;
    }
  }

  h5 {
    font-size: calc(1.28125rem + 0.375vw);
  }

  @media (min-width: 1200px) {
    h5 {
      font-size: 1.5625rem;
    }
  }

  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  abbr[title] {
    cursor: help;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
  }

  address {
    font-style: normal;
    line-height: inherit;
    margin-bottom: 1rem;
  }

  ol,
  ul {
    padding-left: 2rem;
  }

  dl,
  ol,
  ul {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin-bottom: 0;
  }

  dt {
    font-weight: 700;
  }

  dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
  }

  blockquote {
    margin: 0 0 1rem;
  }

  b,
  strong {
    font-weight: bolder;
  }

  small {
    font-size: 0.875em;
  }

  mark {
    background-color: var(--bs-highlight-bg);
    padding: 0.1875em;
  }

  sub,
  sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  a {
    color: var(--bs-link-color);
    text-decoration: none;
  }

  a:hover {
    color: var(--bs-link-hover-color);
  }

  a:not([href]):not([class]),
  a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: var(--bs-font-monospace);
    font-size: 1em;
  }

  pre {
    display: block;
    font-size: 0.875em;
    margin-bottom: 1rem;
    margin-top: 0;
    overflow: auto;
  }

  pre code {
    color: inherit;
    font-size: inherit;
    word-break: normal;
  }

  code {
    word-wrap: break-word;
    color: var(--bs-code-color);
    font-size: 0.875em;
  }

  a > code {
    color: inherit;
  }

  kbd {
    background-color: var(--bs-body-color);
    border-radius: 5px;
    color: var(--bs-body-bg);
    font-size: 0.875em;
    padding: 0.1875rem 0.375rem;
  }

  kbd kbd {
    font-size: 1em;
    padding: 0;
  }

  figure {
    margin: 0 0 1rem;
  }

  img,
  svg {
    vertical-align: middle;
  }

  table {
    border-collapse: collapse;
    caption-side: bottom;
  }

  caption {
    color: #6c757d;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: left;
  }

  th {
    text-align: inherit;
    text-align: -webkit-match-parent;
  }

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border: 0 solid;
    border-color: inherit;
  }

  label {
    display: inline-block;
  }

  button {
    border-radius: 0;
  }

  button:focus:not(:focus-visible) {
    outline: 0;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }

  button,
  select {
    text-transform: none;
  }

  [role="button"] {
    cursor: pointer;
  }

  select {
    word-wrap: normal;
  }

  select:disabled {
    opacity: 1;
  }

  [list]:not([type="date"]):not([type="datetime-local"]):not(
      [type="month"]
    ):not([type="week"]):not([type="time"])::-webkit-calendar-picker-indicator {
    display: none !important;
  }

  [type="button"],
  [type="reset"],
  [type="submit"],
  button {
    -webkit-appearance: button;
  }

  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
  }

  ::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  textarea {
    resize: vertical;
  }

  fieldset {
    border: 0;
    margin: 0;
    min-width: 0;
    padding: 0;
  }

  legend {
    float: left;
    font-size: calc(1.275rem + 0.3vw);
    line-height: inherit;
    margin-bottom: 0.5rem;
    padding: 0;
    width: 100%;
  }

  @media (min-width: 1200px) {
    legend {
      font-size: 1.5rem;
    }
  }

  legend + * {
    clear: left;
  }

  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-fields-wrapper,
  ::-webkit-datetime-edit-hour-field,
  ::-webkit-datetime-edit-minute,
  ::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-text,
  ::-webkit-datetime-edit-year-field {
    padding: 0;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  ::file-selector-button {
    -webkit-appearance: button;
    font: inherit;
  }

  output {
    display: inline-block;
  }

  iframe {
    border: 0;
  }

  summary {
    cursor: pointer;
    display: list-item;
  }

  progress {
    vertical-align: baseline;
  }

  [hidden] {
    display: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.01em;
    margin-bottom: 0;
    margin-top: 0;
  }

  * {
    font-smooth: always;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    scroll-behavior: smooth !important;
    text-rendering: optimizeLegibility !important;
  }

  a {
    font-weight: 700;
  }

  h1 {
    font-size: 3.8125rem;
    line-height: 1.1;
  }

  @media (max-width: 575.98px) {
    h1 {
      font-size: 2.125rem;
      line-height: 1.1;
    }
  }

  h2 {
    font-size: 3.0625rem;
    line-height: 1.1;
  }

  @media (max-width: 575.98px) {
    h2 {
      font-size: 1.75rem;
      line-height: 1.1;
    }
  }

  h3 {
    font-size: 2.4375rem;
    line-height: 1.1;
  }

  @media (max-width: 575.98px) {
    h3 {
      font-size: 1.375rem;
      line-height: 1.1;
    }
  }

  h4 {
    font-size: 1.9375rem;
    line-height: 1.2;
  }

  @media (max-width: 575.98px) {
    h4 {
      font-size: 1.125rem;
      line-height: 1.2;
    }
  }

  h5 {
    font-size: 1.5625rem;
    line-height: 1.2;
  }

  @media (max-width: 575.98px) {
    h5 {
      font-size: 1rem;
      line-height: 1.2;
    }
  }

  h6 {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  @media (max-width: 575.98px) {
    h6 {
      font-size: 0.875rem;
      line-height: 1.2;
    }
  }

  @media (max-width: 767.98px) {
    .container {
      padding: 0 1.5rem;
    }
  }

  @media (max-width: 374.98px) {
    .container {
      padding: 0 1rem;
    }
  }

  .container.container--dashboard {
    max-width: 90rem;
    padding: 0 2.75rem;
  }

  @media (max-width: 1199.98px) {
    .container.container--dashboard {
      padding: 0 2.5rem;
    }
  }

  @media (max-width: 991.98px) {
    .container.container--dashboard {
      padding: 0 2rem;
    }
  }

  @media (max-width: 767.98px) {
    .container.container--dashboard {
      padding: 0 1.5rem;
    }
  }

  @media (max-width: 575.98px) {
    .container.container--dashboard {
      padding: 0 1rem;
    }
  }

  .container.container--dashboard-nav {
    max-width: 100% !important;
    padding: 0 2.75rem;
  }

  @media (max-width: 1199.98px) {
    .container.container--dashboard-nav {
      padding: 0 2.5rem;
    }
  }

  @media (max-width: 991.98px) {
    .container.container--dashboard-nav {
      padding: 0 2rem;
    }
  }

  @media (max-width: 767.98px) {
    .container.container--dashboard-nav {
      padding: 0 1.5rem;
    }
  }

  @media (max-width: 575.98px) {
    .container.container--dashboard-nav {
      padding: 0 1rem;
    }
  }

  .fd-xl {
    font-family: Graphik, sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
  }

  .fd-xl--bold {
    font-weight: 600;
  }

  @media (max-width: 575.98px) {
    .fd-xl {
      font-size: 2.4375rem;
    }
  }

  .fd-lg {
    font-family: Graphik, sans-serif;
    font-size: 2.4375rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
  }

  .fd-lg--bold {
    font-weight: 600;
  }

  @media (max-width: 575.98px) {
    .fd-lg {
      font-size: 1.75rem;
    }
  }

  .fd-md {
    font-family: Graphik, sans-serif;
    font-size: 1.5625rem;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
  }

  .fd-md--bold {
    font-weight: 600;
  }

  @media (max-width: 575.98px) {
    .fd-md {
      font-size: 1.25rem;
    }
  }

  .fd-sm {
    font-family: Graphik, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
  }

  .fd-sm--bold {
    font-weight: 600;
  }

  @media (max-width: 575.98px) {
    .fd-sm {
      font-size: 1.125rem;
    }
  }

  .fb-lg {
    font-family: Graphik, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
  }

  .fb-lg--bold {
    font-weight: 600;
  }

  @media (max-width: 575.98px) {
    .fb-lg {
      font-size: 1rem;
    }
  }

  .fb-regular {
    font-family: Graphik, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
  }

  .fb-regular--bold {
    font-weight: 600;
  }

  @media (max-width: 575.98px) {
    .fb-regular {
      font-size: 0.875rem;
    }
  }

  .fb-sm {
    font-family: Graphik, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
  }

  .fb-sm--bold {
    font-weight: 600;
  }

  @media (max-width: 575.98px) {
    .fb-sm {
      font-size: 0.75rem;
    }
  }

  .fb-xs {
    font-family: Graphik, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
  }

  .fb-xs--bold {
    font-weight: 600;
  }

  .text-bullish {
    color: #11cabe;
  }

  .text-bearish {
    color: #fa2256;
  }

  .text-green-light {
    color: #30e0a1;
  }

  @keyframes ScaleBig {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.03);
    }

    50% {
      transform: scale(1.05);
    }

    75% {
      transform: scale(1.03);
    }

    to {
      transform: scale(1);
    }
  }

  @keyframes ScaleBigHideFirst {
    0% {
      opacity: 0;
      transform: scale(1);
    }

    25% {
      opacity: 0.25;
      transform: scale(1.03);
    }

    50% {
      opacity: 0.5;
      transform: scale(1.05);
    }

    75% {
      opacity: 0.75;
      transform: scale(1.03);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .ScaleBig {
    animation: ScaleBig 0.8s linear;
  }

  .ScaleBigHideFirst {
    animation: ScaleBigHideFirst 0.8s linear;
  }

  .profile .profile__title {
    align-items: flex-start;
    display: flex;
    gap: 1.5rem;
  }

  @media (max-width: 767.98px) {
    .profile .profile__title {
      gap: 1rem;
    }
  }

  .profile .profile__title .profile__title-icon-wrapper {
    background: linear-gradient(
      265.56deg,
      #246cf9 -0.27%,
      #1e68f6 -0.26%,
      #0047d0 98.59%
    );
    border-radius: 50%;
    display: flex;
    padding: 0.75rem;
  }

  .profile .profile__title .profile__title-icon-wrapper .profile__title-icon {
    height: auto;
    max-height: 1.5rem;
    max-width: 1.5rem;
    width: auto;
  }

  .profile .profile__title .profile__title-text .profile__title-text-1 {
    margin-bottom: 0.75rem;
  }

  @media (max-width: 767.98px) {
    .profile .profile__title .profile__title-text .profile__title-text-1 {
      margin-bottom: 0.25rem;
    }
  }

  .profile .profile__title .profile__title-text .profile__title-text-2 {
    color: #a5adcf;
  }

  .profile .profile__container {
    background: #1e1f25;
    border-radius: 0.75rem;
    margin: 2.5rem 0;
    padding: 2.5rem;
  }

  @media (max-width: 767.98px) {
    .profile .profile__container {
      background: none;
      margin: 1.5rem 0;
      padding: 0;
    }
  }

  .profile .profile__container .profile__content,
  .profile .profile__container .profile__content .profile__contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media (max-width: 767.98px) {
    .profile .profile__container .profile__content .profile__contact-info {
      background: #1e1f25;
      border-radius: 0.75rem;
      padding: 1.5rem;
    }
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__photo-profile {
    display: flex;
    gap: 2rem;
  }

  @media (max-width: 767.98px) {
    .profile
      .profile__container
      .profile__content
      .profile__contact-info
      .contact-info__photo-profile {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__photo-profile
    .photo-profile__cta,
  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__photo-profile
    .photo-profile__group {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__photo-profile
    .photo-profile__cta
    .photo-profile__group-text
    .photo-profile__group-text-email,
  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__photo-profile
    .photo-profile__group
    .photo-profile__group-text
    .photo-profile__group-text-email {
    color: #5d6588;
    margin-top: 0.25rem;
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__photo-profile
    .photo-profile__cta
    .btn-secondary,
  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__photo-profile
    .photo-profile__group
    .btn-secondary {
    background: none;
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__photo-profile
    .photo-profile__cta
    .btn-secondary:hover,
  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__photo-profile
    .photo-profile__group
    .btn-secondary:hover {
    background: #141518;
  }

  @media (max-width: 374.98px) {
    .profile
      .profile__container
      .profile__content
      .profile__contact-info
      .contact-info__photo-profile
      .photo-profile__cta {
      align-items: stretch;
      flex-direction: column;
    }
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__name {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767.98px) {
    .profile
      .profile__container
      .profile__content
      .profile__contact-info
      .contact-info__name {
      gap: 1rem;
      grid-template-columns: 1fr;
    }
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__name
    .contact-info__name-form
    .contact-info__name-form-text {
    margin-bottom: 1rem;
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__name
    .contact-info__name-form
    .contact-info__name-form-input
    input {
    padding: 1rem 1.75rem;
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__name
    .contact-info__name-form
    .contact-info__name-form-input
    input::-moz-placeholder {
    color: #a5adcf;
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__name
    .contact-info__name-form
    .contact-info__name-form-input
    input::placeholder {
    color: #a5adcf;
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__crypto {
    align-items: center;
    display: flex;
    gap: 3.5rem;
  }

  @media (max-width: 767.98px) {
    .profile
      .profile__container
      .profile__content
      .profile__contact-info
      .contact-info__crypto {
      gap: 0;
      justify-content: space-between;
    }
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__crypto
    .contact-info__crypto-group {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__crypto
    .contact-info__crypto-group
    .contact-info__crypto-group-coins {
    display: flex;
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__crypto
    .contact-info__crypto-group
    .contact-info__crypto-group-coins
    .contact-info__crypto-group-coin:first-child {
    transform: translateX(0.9rem);
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__crypto
    .contact-info__crypto-group
    .contact-info__crypto-group-coins
    .contact-info__crypto-group-coin:nth-child(2) {
    transform: translateX(0.6rem);
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__crypto
    .contact-info__crypto-group
    .contact-info__crypto-group-coins
    .contact-info__crypto-group-coin:nth-child(3) {
    transform: translateX(0.3rem);
  }

  .profile
    .profile__container
    .profile__content
    .profile__contact-info
    .contact-info__crypto
    .contact-info__crypto-group
    .contact-info__crypto-group-coins
    .contact-info__crypto-group-coin:last-child {
    z-index: 1;
  }

  .profile .profile__container .profile__content .profile__personal-info {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767.98px) {
    .profile .profile__container .profile__content .profile__personal-info {
      background: #1e1f25;
      border-radius: 0.75rem;
      grid-template-columns: 1fr;
      padding: 1.5rem;
    }
  }

  .profile
    .profile__container
    .profile__content
    .profile__personal-info
    .personal-info__name-form
    .personal-info__name-form-text {
    margin-bottom: 1rem;
  }

  .profile
    .profile__container
    .profile__content
    .profile__personal-info
    .personal-info__name-form
    .personal-info__name-form-input
    input {
    padding: 1rem 1.75rem;
  }

  .profile
    .profile__container
    .profile__content
    .profile__personal-info
    .personal-info__name-form
    .personal-info__name-form-input
    input::-moz-placeholder {
    color: #a5adcf;
  }

  .profile
    .profile__container
    .profile__content
    .profile__personal-info
    .personal-info__name-form
    .personal-info__name-form-input
    input::placeholder {
    color: #a5adcf;
  }

  .profile
    .profile__container
    .profile__content
    .profile__personal-info
    .personal-info__name-form--country,
  .profile
    .profile__container
    .profile__content
    .profile__personal-info
    .personal-info__name-form--date {
    grid-column: 1/-1;
  }

  .profile
    .profile__container
    .profile__content
    .profile__personal-info
    .personal-info__name-form--date
    .personal-info__name-form-input {
    position: relative;
  }

  .profile
    .profile__container
    .profile__content
    .profile__personal-info
    .personal-info__name-form--date
    .personal-info__name-form-input
    .personal-info__name-form-input-icon {
    position: absolute;
    right: 1.75rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .profile
    .profile__container
    .profile__content
    .profile__personal-info
    .personal-info__name-form--country
    .fg-items__value {
    color: #a5adcf;
    font-family: Graphik, sans-serif;
    font-size: 1rem !important;
  }

  .profile .profile__container .profile__content .profile__delete-account {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 767.98px) {
    .profile .profile__container .profile__content .profile__delete-account {
      align-items: stretch;
      background: #1e1f25;
      border-radius: 0.75rem;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
    }
  }

  .profile
    .profile__container
    .profile__content
    .profile__delete-account
    .delete-account__group
    .delete-account__group-title {
    margin-bottom: 0.5rem;
  }

  .profile
    .profile__container
    .profile__content
    .profile__delete-account
    .delete-account__group
    .delete-account__group-desc {
    color: #a5adcf;
    max-width: 520px;
    width: 100%;
  }

  @media (max-width: 767.98px) {
    .profile
      .profile__container
      .profile__content
      .profile__delete-account
      .delete-account__group
      .delete-account__group-desc {
      max-width: none;
    }
  }

  .profile
    .profile__container
    .profile__content
    .profile__delete-account
    .delete-account__btn {
    background: #fa2256;
    border-color: #fa2256;
  }

  .profile
    .profile__container
    .profile__content
    .profile__delete-account
    .delete-account__btn:hover {
    background: #cc2229;
    border-color: #cc2229;
  }

  .profile .profile__container .profile__content .profile__save-btn {
    margin-left: auto;
    padding: 1.125rem 4.5rem;
  }

  @media (max-width: 767.98px) {
    .profile .profile__container .profile__content .profile__save-btn {
      margin-left: 0;
    }
  }

  .datepicker {
    background: #1e1f25;
    border: 1px solid #fff;
    border-radius: 0.75rem;
    font-family: Graphik, sans-serif;
    padding: 1rem;
  }

  .datepicker .datepicker-centuries .table-condensed .datepicker-switch,
  .datepicker .datepicker-centuries .table-condensed .dow,
  .datepicker .datepicker-days .table-condensed .datepicker-switch,
  .datepicker .datepicker-days .table-condensed .dow,
  .datepicker .datepicker-decades .table-condensed .datepicker-switch,
  .datepicker .datepicker-decades .table-condensed .dow,
  .datepicker .datepicker-months .table-condensed .datepicker-switch,
  .datepicker .datepicker-months .table-condensed .dow,
  .datepicker .datepicker-years .table-condensed .datepicker-switch,
  .datepicker .datepicker-years .table-condensed .dow {
    font-weight: 600;
  }

  .datepicker .datepicker-centuries .table-condensed .century:active,
  .datepicker .datepicker-centuries .table-condensed .century:focus,
  .datepicker .datepicker-centuries .table-condensed .century:focus-visible,
  .datepicker .datepicker-centuries .table-condensed .century:focus-within,
  .datepicker .datepicker-centuries .table-condensed .century:hover,
  .datepicker .datepicker-centuries .table-condensed .datepicker-switch:active,
  .datepicker .datepicker-centuries .table-condensed .datepicker-switch:focus,
  .datepicker
    .datepicker-centuries
    .table-condensed
    .datepicker-switch:focus-visible,
  .datepicker
    .datepicker-centuries
    .table-condensed
    .datepicker-switch:focus-within,
  .datepicker .datepicker-centuries .table-condensed .datepicker-switch:hover,
  .datepicker .datepicker-centuries .table-condensed .day:active,
  .datepicker .datepicker-centuries .table-condensed .day:focus,
  .datepicker .datepicker-centuries .table-condensed .day:focus-visible,
  .datepicker .datepicker-centuries .table-condensed .day:focus-within,
  .datepicker .datepicker-centuries .table-condensed .day:hover,
  .datepicker .datepicker-centuries .table-condensed .decade:active,
  .datepicker .datepicker-centuries .table-condensed .decade:focus,
  .datepicker .datepicker-centuries .table-condensed .decade:focus-visible,
  .datepicker .datepicker-centuries .table-condensed .decade:focus-within,
  .datepicker .datepicker-centuries .table-condensed .decade:hover,
  .datepicker .datepicker-centuries .table-condensed .month:active,
  .datepicker .datepicker-centuries .table-condensed .month:focus,
  .datepicker .datepicker-centuries .table-condensed .month:focus-visible,
  .datepicker .datepicker-centuries .table-condensed .month:focus-within,
  .datepicker .datepicker-centuries .table-condensed .month:hover,
  .datepicker .datepicker-centuries .table-condensed .next:active,
  .datepicker .datepicker-centuries .table-condensed .next:focus,
  .datepicker .datepicker-centuries .table-condensed .next:focus-visible,
  .datepicker .datepicker-centuries .table-condensed .next:focus-within,
  .datepicker .datepicker-centuries .table-condensed .next:hover,
  .datepicker .datepicker-centuries .table-condensed .old:active,
  .datepicker .datepicker-centuries .table-condensed .old:focus,
  .datepicker .datepicker-centuries .table-condensed .old:focus-visible,
  .datepicker .datepicker-centuries .table-condensed .old:focus-within,
  .datepicker .datepicker-centuries .table-condensed .old:hover,
  .datepicker .datepicker-centuries .table-condensed .prev:active,
  .datepicker .datepicker-centuries .table-condensed .prev:focus,
  .datepicker .datepicker-centuries .table-condensed .prev:focus-visible,
  .datepicker .datepicker-centuries .table-condensed .prev:focus-within,
  .datepicker .datepicker-centuries .table-condensed .prev:hover,
  .datepicker .datepicker-centuries .table-condensed .year:active,
  .datepicker .datepicker-centuries .table-condensed .year:focus,
  .datepicker .datepicker-centuries .table-condensed .year:focus-visible,
  .datepicker .datepicker-centuries .table-condensed .year:focus-within,
  .datepicker .datepicker-centuries .table-condensed .year:hover,
  .datepicker .datepicker-days .table-condensed .century:active,
  .datepicker .datepicker-days .table-condensed .century:focus,
  .datepicker .datepicker-days .table-condensed .century:focus-visible,
  .datepicker .datepicker-days .table-condensed .century:focus-within,
  .datepicker .datepicker-days .table-condensed .century:hover,
  .datepicker .datepicker-days .table-condensed .datepicker-switch:active,
  .datepicker .datepicker-days .table-condensed .datepicker-switch:focus,
  .datepicker
    .datepicker-days
    .table-condensed
    .datepicker-switch:focus-visible,
  .datepicker .datepicker-days .table-condensed .datepicker-switch:focus-within,
  .datepicker .datepicker-days .table-condensed .datepicker-switch:hover,
  .datepicker .datepicker-days .table-condensed .day:active,
  .datepicker .datepicker-days .table-condensed .day:focus,
  .datepicker .datepicker-days .table-condensed .day:focus-visible,
  .datepicker .datepicker-days .table-condensed .day:focus-within,
  .datepicker .datepicker-days .table-condensed .day:hover,
  .datepicker .datepicker-days .table-condensed .decade:active,
  .datepicker .datepicker-days .table-condensed .decade:focus,
  .datepicker .datepicker-days .table-condensed .decade:focus-visible,
  .datepicker .datepicker-days .table-condensed .decade:focus-within,
  .datepicker .datepicker-days .table-condensed .decade:hover,
  .datepicker .datepicker-days .table-condensed .month:active,
  .datepicker .datepicker-days .table-condensed .month:focus,
  .datepicker .datepicker-days .table-condensed .month:focus-visible,
  .datepicker .datepicker-days .table-condensed .month:focus-within,
  .datepicker .datepicker-days .table-condensed .month:hover,
  .datepicker .datepicker-days .table-condensed .next:active,
  .datepicker .datepicker-days .table-condensed .next:focus,
  .datepicker .datepicker-days .table-condensed .next:focus-visible,
  .datepicker .datepicker-days .table-condensed .next:focus-within,
  .datepicker .datepicker-days .table-condensed .next:hover,
  .datepicker .datepicker-days .table-condensed .old:active,
  .datepicker .datepicker-days .table-condensed .old:focus,
  .datepicker .datepicker-days .table-condensed .old:focus-visible,
  .datepicker .datepicker-days .table-condensed .old:focus-within,
  .datepicker .datepicker-days .table-condensed .old:hover,
  .datepicker .datepicker-days .table-condensed .prev:active,
  .datepicker .datepicker-days .table-condensed .prev:focus,
  .datepicker .datepicker-days .table-condensed .prev:focus-visible,
  .datepicker .datepicker-days .table-condensed .prev:focus-within,
  .datepicker .datepicker-days .table-condensed .prev:hover,
  .datepicker .datepicker-days .table-condensed .year:active,
  .datepicker .datepicker-days .table-condensed .year:focus,
  .datepicker .datepicker-days .table-condensed .year:focus-visible,
  .datepicker .datepicker-days .table-condensed .year:focus-within,
  .datepicker .datepicker-days .table-condensed .year:hover,
  .datepicker .datepicker-decades .table-condensed .century:active,
  .datepicker .datepicker-decades .table-condensed .century:focus,
  .datepicker .datepicker-decades .table-condensed .century:focus-visible,
  .datepicker .datepicker-decades .table-condensed .century:focus-within,
  .datepicker .datepicker-decades .table-condensed .century:hover,
  .datepicker .datepicker-decades .table-condensed .datepicker-switch:active,
  .datepicker .datepicker-decades .table-condensed .datepicker-switch:focus,
  .datepicker
    .datepicker-decades
    .table-condensed
    .datepicker-switch:focus-visible,
  .datepicker
    .datepicker-decades
    .table-condensed
    .datepicker-switch:focus-within,
  .datepicker .datepicker-decades .table-condensed .datepicker-switch:hover,
  .datepicker .datepicker-decades .table-condensed .day:active,
  .datepicker .datepicker-decades .table-condensed .day:focus,
  .datepicker .datepicker-decades .table-condensed .day:focus-visible,
  .datepicker .datepicker-decades .table-condensed .day:focus-within,
  .datepicker .datepicker-decades .table-condensed .day:hover,
  .datepicker .datepicker-decades .table-condensed .decade:active,
  .datepicker .datepicker-decades .table-condensed .decade:focus,
  .datepicker .datepicker-decades .table-condensed .decade:focus-visible,
  .datepicker .datepicker-decades .table-condensed .decade:focus-within,
  .datepicker .datepicker-decades .table-condensed .decade:hover,
  .datepicker .datepicker-decades .table-condensed .month:active,
  .datepicker .datepicker-decades .table-condensed .month:focus,
  .datepicker .datepicker-decades .table-condensed .month:focus-visible,
  .datepicker .datepicker-decades .table-condensed .month:focus-within,
  .datepicker .datepicker-decades .table-condensed .month:hover,
  .datepicker .datepicker-decades .table-condensed .next:active,
  .datepicker .datepicker-decades .table-condensed .next:focus,
  .datepicker .datepicker-decades .table-condensed .next:focus-visible,
  .datepicker .datepicker-decades .table-condensed .next:focus-within,
  .datepicker .datepicker-decades .table-condensed .next:hover,
  .datepicker .datepicker-decades .table-condensed .old:active,
  .datepicker .datepicker-decades .table-condensed .old:focus,
  .datepicker .datepicker-decades .table-condensed .old:focus-visible,
  .datepicker .datepicker-decades .table-condensed .old:focus-within,
  .datepicker .datepicker-decades .table-condensed .old:hover,
  .datepicker .datepicker-decades .table-condensed .prev:active,
  .datepicker .datepicker-decades .table-condensed .prev:focus,
  .datepicker .datepicker-decades .table-condensed .prev:focus-visible,
  .datepicker .datepicker-decades .table-condensed .prev:focus-within,
  .datepicker .datepicker-decades .table-condensed .prev:hover,
  .datepicker .datepicker-decades .table-condensed .year:active,
  .datepicker .datepicker-decades .table-condensed .year:focus,
  .datepicker .datepicker-decades .table-condensed .year:focus-visible,
  .datepicker .datepicker-decades .table-condensed .year:focus-within,
  .datepicker .datepicker-decades .table-condensed .year:hover,
  .datepicker .datepicker-months .table-condensed .century:active,
  .datepicker .datepicker-months .table-condensed .century:focus,
  .datepicker .datepicker-months .table-condensed .century:focus-visible,
  .datepicker .datepicker-months .table-condensed .century:focus-within,
  .datepicker .datepicker-months .table-condensed .century:hover,
  .datepicker .datepicker-months .table-condensed .datepicker-switch:active,
  .datepicker .datepicker-months .table-condensed .datepicker-switch:focus,
  .datepicker
    .datepicker-months
    .table-condensed
    .datepicker-switch:focus-visible,
  .datepicker
    .datepicker-months
    .table-condensed
    .datepicker-switch:focus-within,
  .datepicker .datepicker-months .table-condensed .datepicker-switch:hover,
  .datepicker .datepicker-months .table-condensed .day:active,
  .datepicker .datepicker-months .table-condensed .day:focus,
  .datepicker .datepicker-months .table-condensed .day:focus-visible,
  .datepicker .datepicker-months .table-condensed .day:focus-within,
  .datepicker .datepicker-months .table-condensed .day:hover,
  .datepicker .datepicker-months .table-condensed .decade:active,
  .datepicker .datepicker-months .table-condensed .decade:focus,
  .datepicker .datepicker-months .table-condensed .decade:focus-visible,
  .datepicker .datepicker-months .table-condensed .decade:focus-within,
  .datepicker .datepicker-months .table-condensed .decade:hover,
  .datepicker .datepicker-months .table-condensed .month:active,
  .datepicker .datepicker-months .table-condensed .month:focus,
  .datepicker .datepicker-months .table-condensed .month:focus-visible,
  .datepicker .datepicker-months .table-condensed .month:focus-within,
  .datepicker .datepicker-months .table-condensed .month:hover,
  .datepicker .datepicker-months .table-condensed .next:active,
  .datepicker .datepicker-months .table-condensed .next:focus,
  .datepicker .datepicker-months .table-condensed .next:focus-visible,
  .datepicker .datepicker-months .table-condensed .next:focus-within,
  .datepicker .datepicker-months .table-condensed .next:hover,
  .datepicker .datepicker-months .table-condensed .old:active,
  .datepicker .datepicker-months .table-condensed .old:focus,
  .datepicker .datepicker-months .table-condensed .old:focus-visible,
  .datepicker .datepicker-months .table-condensed .old:focus-within,
  .datepicker .datepicker-months .table-condensed .old:hover,
  .datepicker .datepicker-months .table-condensed .prev:active,
  .datepicker .datepicker-months .table-condensed .prev:focus,
  .datepicker .datepicker-months .table-condensed .prev:focus-visible,
  .datepicker .datepicker-months .table-condensed .prev:focus-within,
  .datepicker .datepicker-months .table-condensed .prev:hover,
  .datepicker .datepicker-months .table-condensed .year:active,
  .datepicker .datepicker-months .table-condensed .year:focus,
  .datepicker .datepicker-months .table-condensed .year:focus-visible,
  .datepicker .datepicker-months .table-condensed .year:focus-within,
  .datepicker .datepicker-months .table-condensed .year:hover,
  .datepicker .datepicker-years .table-condensed .century:active,
  .datepicker .datepicker-years .table-condensed .century:focus,
  .datepicker .datepicker-years .table-condensed .century:focus-visible,
  .datepicker .datepicker-years .table-condensed .century:focus-within,
  .datepicker .datepicker-years .table-condensed .century:hover,
  .datepicker .datepicker-years .table-condensed .datepicker-switch:active,
  .datepicker .datepicker-years .table-condensed .datepicker-switch:focus,
  .datepicker
    .datepicker-years
    .table-condensed
    .datepicker-switch:focus-visible,
  .datepicker
    .datepicker-years
    .table-condensed
    .datepicker-switch:focus-within,
  .datepicker .datepicker-years .table-condensed .datepicker-switch:hover,
  .datepicker .datepicker-years .table-condensed .day:active,
  .datepicker .datepicker-years .table-condensed .day:focus,
  .datepicker .datepicker-years .table-condensed .day:focus-visible,
  .datepicker .datepicker-years .table-condensed .day:focus-within,
  .datepicker .datepicker-years .table-condensed .day:hover,
  .datepicker .datepicker-years .table-condensed .decade:active,
  .datepicker .datepicker-years .table-condensed .decade:focus,
  .datepicker .datepicker-years .table-condensed .decade:focus-visible,
  .datepicker .datepicker-years .table-condensed .decade:focus-within,
  .datepicker .datepicker-years .table-condensed .decade:hover,
  .datepicker .datepicker-years .table-condensed .month:active,
  .datepicker .datepicker-years .table-condensed .month:focus,
  .datepicker .datepicker-years .table-condensed .month:focus-visible,
  .datepicker .datepicker-years .table-condensed .month:focus-within,
  .datepicker .datepicker-years .table-condensed .month:hover,
  .datepicker .datepicker-years .table-condensed .next:active,
  .datepicker .datepicker-years .table-condensed .next:focus,
  .datepicker .datepicker-years .table-condensed .next:focus-visible,
  .datepicker .datepicker-years .table-condensed .next:focus-within,
  .datepicker .datepicker-years .table-condensed .next:hover,
  .datepicker .datepicker-years .table-condensed .old:active,
  .datepicker .datepicker-years .table-condensed .old:focus,
  .datepicker .datepicker-years .table-condensed .old:focus-visible,
  .datepicker .datepicker-years .table-condensed .old:focus-within,
  .datepicker .datepicker-years .table-condensed .old:hover,
  .datepicker .datepicker-years .table-condensed .prev:active,
  .datepicker .datepicker-years .table-condensed .prev:focus,
  .datepicker .datepicker-years .table-condensed .prev:focus-visible,
  .datepicker .datepicker-years .table-condensed .prev:focus-within,
  .datepicker .datepicker-years .table-condensed .prev:hover,
  .datepicker .datepicker-years .table-condensed .year:active,
  .datepicker .datepicker-years .table-condensed .year:focus,
  .datepicker .datepicker-years .table-condensed .year:focus-visible,
  .datepicker .datepicker-years .table-condensed .year:focus-within,
  .datepicker .datepicker-years .table-condensed .year:hover {
    background: #141518;
  }

  .datepicker .datepicker-centuries .table-condensed .focused,
  .datepicker .datepicker-centuries .table-condensed .today,
  .datepicker .datepicker-days .table-condensed .focused,
  .datepicker .datepicker-days .table-condensed .today,
  .datepicker .datepicker-decades .table-condensed .focused,
  .datepicker .datepicker-decades .table-condensed .today,
  .datepicker .datepicker-months .table-condensed .focused,
  .datepicker .datepicker-months .table-condensed .today,
  .datepicker .datepicker-years .table-condensed .focused,
  .datepicker .datepicker-years .table-condensed .today {
    background: #34384c;
    color: #fff;
  }

  .datepicker .datepicker-centuries .table-condensed .focused:active,
  .datepicker .datepicker-centuries .table-condensed .focused:focus,
  .datepicker .datepicker-centuries .table-condensed .focused:focus-visible,
  .datepicker .datepicker-centuries .table-condensed .focused:focus-within,
  .datepicker .datepicker-centuries .table-condensed .focused:hover,
  .datepicker .datepicker-centuries .table-condensed .today:active,
  .datepicker .datepicker-centuries .table-condensed .today:focus,
  .datepicker .datepicker-centuries .table-condensed .today:focus-visible,
  .datepicker .datepicker-centuries .table-condensed .today:focus-within,
  .datepicker .datepicker-centuries .table-condensed .today:hover,
  .datepicker .datepicker-days .table-condensed .focused:active,
  .datepicker .datepicker-days .table-condensed .focused:focus,
  .datepicker .datepicker-days .table-condensed .focused:focus-visible,
  .datepicker .datepicker-days .table-condensed .focused:focus-within,
  .datepicker .datepicker-days .table-condensed .focused:hover,
  .datepicker .datepicker-days .table-condensed .today:active,
  .datepicker .datepicker-days .table-condensed .today:focus,
  .datepicker .datepicker-days .table-condensed .today:focus-visible,
  .datepicker .datepicker-days .table-condensed .today:focus-within,
  .datepicker .datepicker-days .table-condensed .today:hover,
  .datepicker .datepicker-decades .table-condensed .focused:active,
  .datepicker .datepicker-decades .table-condensed .focused:focus,
  .datepicker .datepicker-decades .table-condensed .focused:focus-visible,
  .datepicker .datepicker-decades .table-condensed .focused:focus-within,
  .datepicker .datepicker-decades .table-condensed .focused:hover,
  .datepicker .datepicker-decades .table-condensed .today:active,
  .datepicker .datepicker-decades .table-condensed .today:focus,
  .datepicker .datepicker-decades .table-condensed .today:focus-visible,
  .datepicker .datepicker-decades .table-condensed .today:focus-within,
  .datepicker .datepicker-decades .table-condensed .today:hover,
  .datepicker .datepicker-months .table-condensed .focused:active,
  .datepicker .datepicker-months .table-condensed .focused:focus,
  .datepicker .datepicker-months .table-condensed .focused:focus-visible,
  .datepicker .datepicker-months .table-condensed .focused:focus-within,
  .datepicker .datepicker-months .table-condensed .focused:hover,
  .datepicker .datepicker-months .table-condensed .today:active,
  .datepicker .datepicker-months .table-condensed .today:focus,
  .datepicker .datepicker-months .table-condensed .today:focus-visible,
  .datepicker .datepicker-months .table-condensed .today:focus-within,
  .datepicker .datepicker-months .table-condensed .today:hover,
  .datepicker .datepicker-years .table-condensed .focused:active,
  .datepicker .datepicker-years .table-condensed .focused:focus,
  .datepicker .datepicker-years .table-condensed .focused:focus-visible,
  .datepicker .datepicker-years .table-condensed .focused:focus-within,
  .datepicker .datepicker-years .table-condensed .focused:hover,
  .datepicker .datepicker-years .table-condensed .today:active,
  .datepicker .datepicker-years .table-condensed .today:focus,
  .datepicker .datepicker-years .table-condensed .today:focus-visible,
  .datepicker .datepicker-years .table-condensed .today:focus-within,
  .datepicker .datepicker-years .table-condensed .today:hover {
    background: #5d6588;
    color: #fff;
  }

  .datepicker .datepicker-centuries .table-condensed .active,
  .datepicker .datepicker-days .table-condensed .active,
  .datepicker .datepicker-decades .table-condensed .active,
  .datepicker .datepicker-months .table-condensed .active,
  .datepicker .datepicker-years .table-condensed .active {
    background: #5d6588;
    color: #fff;
  }

  .datepicker .datepicker-centuries .table-condensed .active:active,
  .datepicker .datepicker-centuries .table-condensed .active:focus,
  .datepicker .datepicker-centuries .table-condensed .active:focus-visible,
  .datepicker .datepicker-centuries .table-condensed .active:focus-within,
  .datepicker .datepicker-centuries .table-condensed .active:hover,
  .datepicker .datepicker-days .table-condensed .active:active,
  .datepicker .datepicker-days .table-condensed .active:focus,
  .datepicker .datepicker-days .table-condensed .active:focus-visible,
  .datepicker .datepicker-days .table-condensed .active:focus-within,
  .datepicker .datepicker-days .table-condensed .active:hover,
  .datepicker .datepicker-decades .table-condensed .active:active,
  .datepicker .datepicker-decades .table-condensed .active:focus,
  .datepicker .datepicker-decades .table-condensed .active:focus-visible,
  .datepicker .datepicker-decades .table-condensed .active:focus-within,
  .datepicker .datepicker-decades .table-condensed .active:hover,
  .datepicker .datepicker-months .table-condensed .active:active,
  .datepicker .datepicker-months .table-condensed .active:focus,
  .datepicker .datepicker-months .table-condensed .active:focus-visible,
  .datepicker .datepicker-months .table-condensed .active:focus-within,
  .datepicker .datepicker-months .table-condensed .active:hover,
  .datepicker .datepicker-years .table-condensed .active:active,
  .datepicker .datepicker-years .table-condensed .active:focus,
  .datepicker .datepicker-years .table-condensed .active:focus-visible,
  .datepicker .datepicker-years .table-condensed .active:focus-within,
  .datepicker .datepicker-years .table-condensed .active:hover {
    background: #34384c;
    color: #fff;
  }
}
