// Animation for glowing btn/element effect.
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

// Body before gradient fade animation to reveal some off the background.
@keyframes showMoreBodyBg {
  0% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  50% {
    width: 85vw;
    height: 85vh;
    opacity: 0.9;
  }

  100% {
    height: 100vh;
    width: 100vw;
  }
}

@keyframes topBottomFade {
  0% {
    transform: translateY(-230%);
  }

  100% {
    transform: translateY(160%);
    transform: translateX(5%);
  }
}

@keyframes topBottom {
  from {
    height: 0;
    opacity: 1;
  }

  to {
    height: 25%;
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bodyLinear {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes growHeight {
  50% {
    height: 100vh;
    top: -100%;
  }
  100% {
    height: 2500vh;
    top: 500%;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 25px 25px;
  }
}

@keyframes bg-scrolling-reverse-two {
  to {
    opacity: 1;
    background-position: 20px -210px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}

@keyframes dutchFlagGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes loaderSpinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loaderRotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
