body {
  min-height: 3vh;
}

.z-max {
  z-index: 999;
}

.big-container {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

// // Utils
@import "./utils/animations.scss";
@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./swiper-bundle.css";
// // Theme

@import "./theme/bg.scss";
@import "./theme/grid.scss";
@import "./theme.scss";
@import "./error.scss";
@import "./typography.scss";

// // Components
@import "./components/skeleton.scss";
@import "./components/profile.scss";
@import "./components/ui-elements.scss";
@import "./components/card.scss";
@import "./components/buttons.scss";
@import "./components/loading.scss";
@import "./components/header.scss";
@import "./components/cursor.scss";
@import "./components/text-perspective.scss";
@import "./components/html-to-jsx-converter.scss";
@import "./components/svg-hovers.scss";
// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-y-1px {
  transform: translateY(1px);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

li.data-\[swipe\=move\]\:transition-none.group.relative.pointer-events-auto.flex.w-full.items-center.justify-between.space-x-4.overflow-hidden.rounded-md.p-6.pr-8.shadow-lg.transition-all.data-\[swipe\=move\]\:translate-x-\[var\(--radix-toast-swipe-move-x\)\].data-\[swipe\=cancel\]\:translate-x-0.data-\[swipe\=end\]\:translate-x-\[var\(--radix-toast-swipe-end-x\)\].data-\[state\=open\]\:animate-in.data-\[state\=closed\]\:animate-out.data-\[swipe\=end\]\:animate-out.data-\[state\=closed\]\:fade-out-80.data-\[state\=open\]\:slide-in-from-top-full.data-\[state\=open\]\:sm\:slide-in-from-bottom-full.data-\[state\=closed\]\:slide-out-to-right-full.bg-background.border {
  transform: translateX(50%) !important;
}
